<div class="container">

  <div class="row post">
    <strong><%= @post.title %></strong>
  </div>

  <div class="row body">
    <%= @post.body %>
  </div>

</div>

<div class="comments">
  <%= form_for([@post, @comment]) do |f| %>
    <div class="form-group">
      <%= f.text_area :body,  class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Comment", class: 'btn btn-primary'  %>
    </div>
  <% end %>
</div>

<%= render @post.comments %>